<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :trainer %>
    <%= collection_select(:team,:trainer_id,Trainer.all,:id,:name) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :pokemons %>
    <%= collection_check_boxes(:team,:pokemon_ids,Pokemon.all,:id,:name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
