<p id="notice"><%= notice %></p>

<div class="container"> 
  <h1 class="title">Teams</h1>

  <main class="main-container">
    <section class="team">
      <% @teams.each do |team| %>
        <header class="team-header">
          <h2 class="team-name"><%= team.name %></h2>
          <h3 class="trainer-name"><%= team.trainer.name %></h3>
        </header>
        <team-body>
          <% team.pokemons.each do |pokemon| %>
            <h4 class="pokemon-name"><%= pokemon.name %></h4>
            <img src="https://github.com/ZeChrales/PogoAssets/blob/master/pokemon_icons/pokemon_icon_<%= pokemon.photo %>_00.png?raw=true" />
          <% end %>
        </team-body>
        <div class="crud-list">
          <p class="crud-team"><%= link_to 'Show', team %></p>
          <p class="crud-team"><%= link_to 'Edit', edit_team_path(team) %></p>
          <p class="crud-team"><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
    </section>
  </main>
  <p class="new-team"><%= link_to 'New Team', new_team_path %><p>

</div>