<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Trainer:</strong>
  <%= @team.trainer.name %>
</p>

<p>
  <strong>Pokemons</strong>
</p>

<% @team.pokemons.each do |pokemon| %>
  <div><%= pokemon.name %></div>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
