<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @pokemon.photo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Pokemontype:</strong>
  <%= @pokemon.pokemonType %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
