<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @trainer.photo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @trainer.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @trainer.sex %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
